.container {
  width: 90%;
  margin: 30px auto;
  height: 65vh;
  overflow-y: auto;
  padding-right: 1.5rem;
}

.buttons {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between;
}

.blueButtons {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 1rem;
}


@media screen and (max-width: 600px) {
  .container {
    height: 65vh;
    width: 90%;
  }

  .buttons {
    width: 90%;
    gap: 0.5rem;
  }
}