.container_interventions, .container_reports {
    flex: 1;
    padding: 36px 94px 100px 51px;
}

.container_empty {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_border {
    border: 2px solid var(--color-gray-2);
    border-radius: 20px;
    margin-top: 25px;
}

.coordinators {
    font-family: var(--font-sub);
    font-size: 400;
    color: var(--color-blue-3);
}

@media (max-width: 800px) {
    .container_reports {
        padding: 36px 10px 50px;
    }
    .container_interventions {
        padding: 36px 10px 100px;
    }
}

@media (max-width: 600px) {
    .table_border {
        border: none;
        margin-top: 5px;
    }
}