.container {
    font-family: var(--font-sub);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2.5em;
    margin-left: 3.75em;
}

.nivel {
  display: flex;
  gap: 10px;
  margin-bottom: 5vh;
}

.nivel button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(1em - 2px); /* Ajuste o padding para compensar a borda */
    box-shadow: 2px 2px 2.8px 0px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    box-sizing: border-box;
    border: 2px solid var(--color-gray-3);
    background-color: white;
    color: var(--color-gray-3);
    font-size: 32px;
    cursor: pointer;
    transition: border-width 0.1s, padding 0.1s, border-color 0.1s; /* Transições mais rápidas */
}

.nivel button:hover,
.nivel button.active {
    color: var(--color-blue-4);
    border-width: 4px;
    padding: calc(1em - 4px); /* Ajuste o padding para compensar a borda maior */
    border-color: var(--color-blue-4); /* Certifique-se de que a cor da borda é azul */
}

.titulo {
    color: var(--color-blue-4);
    font-size: 32px;
}

.mensagem {
    color: #989898;
    font-size: 24px;
}
