.table_border {
    border: 2px solid var(--color-gray-2);
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.table_container th, .table_container td {
    font-family: var(--font-text);
    font-weight: 400;
}

.table_container th {
    border-left: 2px solid var(--color-gray-2);
    text-align: center;
    font-size: 1.1rem;
    color: var(--color-blue-4)
}

.table_container th.table_title {
    border-bottom: 2px solid var(--color-gray-2);
    font-size: 1.5rem;
}

.table_container td {
    vertical-align: top;
    text-align: left;
    border-top: 2px solid var(--color-gray-2);
    border-left: 2px solid var(--color-gray-2);
    border-bottom: none;
    font-size: .9rem;
}

.submetas p:first-child {
    color: var(--color-blue-5);
}

.table_container td:first-child, .table_container th:first-child {
    border-left: none;
}