.test {
    display: flex !important;
    justify-content: space-between !important;
    width: 95%;
    text-transform: none !important;
    border-radius: 9px !important;
    border: 2px solid #e0e0e0 !important;
    padding: 15px !important;
    color: var(--color-gray-4) !important;
    font-family: var(--font-text) !important;
    font-weight: 400 !important;
    font-size: 18px !important;

}

.test:hover {
    background-color: transparent !important;
}
