/*Password Reset*/
.recuperarSenhaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
  width: 50%;
}

.recuperarSenha {
  color: #ababab;
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5vh;
  width: 100%;
  text-align: center;
}

/*Custom Arrow Back Icon*/
.iconContainer {
  display: flex;
  gap: 5px;
  font-family: "Fira Sans";
  font-weight: 500;
  color: white;
  background: linear-gradient(90deg, #7db9f0 0%, #5095d5 100%);
  border-radius: 10px;
  padding: 10px;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
