/*Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Fira Sans*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /* Fontes */
    --font-title: 'Poppins', sans-serif;
    --font-text: 'Fira Sans', sans-serif;
  
    /* Cores */
    --color-pink: #F83D70;
  
    /* Cinzas */
    --color-gray-1: #f4f4f4;
    --color-gray-2: #D7D7D7;
    --color-gray-3: #ABABAB;
    --color-gray-4: #727272;
    --color-gray-5: #454545;
    --color-gray-6: #191919;
    --color-gray-7: #080808;

    /* Azuis */
    --color-yellow-1: #CEE7FF;
    --color-yellow-2: #7DB9F0;
    --color-yellow-3: #5095D5;
    --color-yellow-4: #3575B1;
    --color-yellow-5: #2B5E8E;
    --color-yellow-6: #154979;
    --color-yellow-7: #082D4F;
    --color-yellow-8: #00101E;
  
    /* Amarelos */
    --color-yellow-1: #FFFCF2;
    --color-yellow-2: #FFF164;
    --color-yellow-3: #ffE694;
    --color-yellow-4: #F6D15B;
    --color-yellow-5: #F1C32F;
    --color-yellow-6: #D3A40E;
    --color-yellow-7: #927000;
    --color-yellow-8: #4F3D00;
  }
  