.tools_registrations {
    flex: 1;
    padding: 34px 94px 100px 44px;
}

.title_close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.container_empty {
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}