.dialog {
    margin: auto;
    max-width: 600px;
    border: 0px;
    border-radius: 20px;
}

.containerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    margin-top: 5px;
}

.title {
    margin-right: 30px;
}

.buttonClose {
    position: absolute;
    top: 23px;
    right: 23px;
}