.container {
  width: 90%;
  margin: 30px auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  bottom: 2rem;
  background-color: #ffffff;
  position: relative;
}