.container_patients {
    flex: 1;
    padding: 36px 94px 100px 51px;
}

.container_empty {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}