/* Estilos base para o botão */
.button {
  width: 15vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid var(--color-gray-3);
  background-color: white;
  color: var(--color-gray-3);
  font-family: var(--font-sub);
  font-size: 20px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button.active,
.button:hover {
  border-color: var(--color-blue-4);
  color: var(--color-blue-4);
}

/* Estilos específicos para botões com classe bg-blue */
.button.bg-blue {
  background: linear-gradient(90deg, #7DB9F0 0%, #5095D5 100%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10);
  color: white;
  border: none;
}

.button.bg-blue:hover {
  background: linear-gradient(90deg, #5095D5 0%, #7DB9F0 100%);
}

.button.bg-blue .icon {
  filter: none;
}

/* Estilos para o ícone */
.icon {
  margin-right: 0.5em;
  width: 1.3em;
  height: 1.3em;
  filter: grayscale(10%) brightness(0%) invert(70%);
  transition: filter 0.3s, width 0.3s, height 0.3s;
}

.button.active .icon,
.button:hover .icon {
  filter: none;
}

/* Estilos para o link */
.link {
  text-decoration: none;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .button,
  .button.bg-blue {
    height: 40px;
    font-size: 16px;
    margin-left: 1em;
  }

  .button.bg-blue .icon,
  .button.save-exit .icon {
    display: none;
  }

  .icon {
    display: none;
  }


  .icon {
    display: none;
  }

  .text {
    font-size: 15px;
  }
}
