button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 15px; 
    border: 2px solid var(--color-blue-4);
    color: var(--color-blue-4);
    font-family: var(--font-sub);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icon {
    margin-right: 0.5em;
    width: 1.5em;
    height: 1.5em;
}

.text {
    display: inline-block;
}