.dialog {
    margin: auto;
    max-width: 600px;
    border: 0px;
    border-radius: 20px;
}

.dialogTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    margin-top: 5px;
}

.buttonClose {
    position: absolute;
    top: 23px;
    right: 23px;
}

.gridContainer {
    flex-direction: column;
    gap: 16px;
    padding-left: 64px;
    padding-right: 64px;
}