.question {
    border: 2px solid var(--color-gray-2);
    border-radius: 10px;
    padding: 8px 22px;
    margin-bottom: -8px;
    color: var(--color-gray-5);
}

.description {
    margin-bottom: 10px;
    padding: 0px 22px;
    color: var(--color-gray-4);
}